div#wholeContents.twoColumnpage .btn a {
    display: block;
    font-size: 1.5rem;
    width: 90%;
    margin: 2rem auto;
    padding: 0.9rem 0 0.8rem;
}


div#wholeContents.twoColumnpage .btn a {
    display: block;
    font-size: 1.3rem;
    width: 90%;
    margin: 0rem auto;
    padding: 0.9rem 0 0.8rem;
    background-color: #7ab931!important;
    color: #ffffff;
    line-height: 2.1rem;
    text-align: center;
    border: 1px solid #8bc34a;
    background-image:  linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2) 50%,rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2) 50%,rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2) 50%,rgba(255,255,255,0));
    border-radius: .4rem;
}
div#wholeContents.twoColumnpage .btn a:hover{
    background: #fff!important;
    color: #8bc34a !important;
}
div#wholeContents.twoColumnpage .btn.cancel  p{
    text-align:center;
}
div#wholeContents.twoColumnpage .btn.cancel button {
    display: inline-block;
    padding:0!important;
    font-size:.9rem;
    width: auto;
    margin: 0rem auto 2rem;
    padding: 0.9rem 0 0.8rem;
    background-color: transparent;
    color: #607D8B;
    text-align: center;
    /* border: 1px solid #607D8B; */
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
}
div#wholeContents.twoColumnpage .btn.cancel button:hover{
    background: #fff!important;
    color: #607D8B !important;
}

.vc_padding_1{
    padding:0 1rem;
}


@charset "utf-8"; .mb20 {
    margin-bottom: 1.25rem;
}

.wpb_text_column .mb30 {
    margin-bottom: 1.875rem;
}

.wpb_text_column .mt10 {
    margin-top: 0.625rem;
}

.wpb_text_column .mt15 {
    margin-top: 0.9375rem;
}

.wpb_text_column .mt20 {
    margin-top: 1.25rem;
}

.wpb_text_column .mt25 {
    margin-top: 1.5625rem;
}

.wpb_text_column .mt30 {
    margin-top: 1.875rem;
}

.policy_block ~ . {
    padding: 0 1rem;
}


#main .paddingBox {
    padding: 0 1rem;
}

.bluedot:before {
    content: "";
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #009BEC;
    border-radius: 100%;
    margin-right: 0.3rem;
}

/**/
.warn {
    border: 1px solid #e60012;
    margin-bottom: 40px;
    padding: 15px 20px;
}

.warn li {
    color: #e60012;
    text-indent: -1em;
    margin-left: 1em;
    font-size: .9rem;
}

.warn li:nth-child(n+2) {
    margin-top: 10px;
}

/**/
a.linkBlue {
    color: #0075c1;
}

span.attenRed {
    color: #e60012;
}

.kiyakuBox {
    margin-top: 1.875rem;
    padding: 0 1rem;
}

.kiyakuBox .textBox {
}

.kiyakuBox .textBox:nth-child(n+2) {
    margin-top: 2.5rem;
}

.kiyakuBox .textBox h4 {
    font-size: 0.875rem;
    font-weight: bold;
}

.kiyakuBox .textBox .text {
    margin-top: 1.25rem;
}

.kiyakuBox .textBox .text p:nth-child(n+2) {
    margin-top: 0.9375rem;
}

.kiyakuBox .textBox .text p.notice {
    text-indent: -1em;
    margin-left: 1em;
}

.kiyakuBox .textBox .text ul.notice02 li {
    text-indent: -3em;
    margin-left: 3em;
    font-size: .9rem;
}
#wholeContents li{
    line-height: 1.7;
}
.kiyakuBox .textBox .text ul.notice02 li:nth-child(n+2) {
    margin-top: 10px;
}

.consentButton {
    margin-top: 1.875rem;
    text-align: center;
}

.consentButton p:nth-child(3) {
    margin-top: 1.25rem;
}

.consentButton p.button {
    margin-top: 1.25rem;
}

.consentButton p.button a {
    background-color: #ff8800;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 1.25rem;
    width:100%;
    max-width: 600px;
    position: relative;
    padding: 18px 30px;
    text-align: center;
}
