#main > .pageTitleA{
  margin-bottom:0.5rem;
}
.skn_radius{
  border-radius: 1.5rem;
  overflow: hidden;
}
@media screen and (max-width:768px){
  .skn_radius{
    border-radius: 0.8rem;
    overflow: hidden;
  }
}

/*slider スライダー*/
.swiper-container img{
  max-width: 100%;
}
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination{
  display:none;
}
.swiper-container-horizontal .swiper-button-prev,
.swiper-container-horizontal .swiper-button-next,
.swiper-container-horizontal .swiper-pagination{
  display:block;
}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction{
  bottom:0;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  background-color:#fff;
  border:1px solid #16AEBA;
  opacity:1;
  width: 1.5rem;
  height: 1.5rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color:#16AEBA
}


.schoolBtns_wrap{
  margin-bottom:1rem;
}
.school_btns{
  margin:0 -0.25rem;
}
.school_btnA{
  width:calc((100% / 6) * 1 - 0.01px);
  padding: 0 0.2rem;
}
.school_btnA:nth-child(6n){
  margin-right:0;
}
.school_btnA:nth-child(-n+6){
  margin-bottom:0.5rem;
}
.school_btnA .btn{
  width:100%;
  text-align:center;
  padding: 1rem 0.3rem;
  font-size: 0.85rem;
  font-weight:normal;
  letter-spacing: -1px;
}

.skn_schoolLink{
  border:1px solid #16AEBA;
  background-color:#fff;
  color:#16AEBA;
  border-radius:0.3rem;
}
.Pc .skn_schoolLink:hover{
  background-color:#16AEBA;
  color:#fff;
}
.schoolBtn_block{
  max-width:100%;
  width: 100%;
}
@media screen and (max-width:768px){
  .schoolBtns_wrap{
    overflow:auto;
    margin-bottom: 0;
    /* width: 300px; */
    /* margin:auto; */
  }
  .school_btns{
    flex-wrap:nowrap;
    width:calc(8rem * 14);
    padding: 0 0.5rem;
  }
  .school_btnA:nth-child(6n){
    /* margin-right:0.5rem; */
  }
  .school_btnA .btn{
    padding:1rem 0;
    font-size:1.1rem;
  }
  .schoolBtn_block{
    display:flex;
    align-items:center;
    margin-bottom:0.5rem;
    width: 100%;
    overflow:hidden;
  }
  .schoolBtn_block:before{
    content:"\f0d9";
    font-size: 2rem;
    margin-right: 0.5rem;
  }
  .schoolBtn_block:after{
    content:"\f0da";
    font-size: 2rem;
    margin-left: 0.5rem;
  }
  .school_btnA:nth-child(-n+6){
    margin-bottom:0rem;
  }
  

}






.detailMenu{
  font-size:1.3rem;
  font-weight:bold;
  text-align:center;
  margin-bottom:1rem;
  display:flex;
  align-items:center;
}
.detailMenu span{
  flex:none;
  margin:0 1rem;
}
.detailMenu:before,
.detailMenu:after{
  content:"";
  display:block;
  width:100%;
  height:0;
  border-bottom:1px solid #000;
}




